body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#striked-price {
  text-decoration: line-through;
  margin-left: auto;
}

#price-conatiner {
  display: block;
}

#product-content-container {
  padding-top: 1rem;
  padding-bottom: 0;
}

#product-card-action-reviews {
  padding: 0;
}

#product-discount-container {
  margin-left: auto;
  color: #00bb19;
}

#product-card-action-price {
  padding-top: 0;
}

#rating-container {
  padding-left: 0;
  padding-right: 0;
}

#rating-container .MuiIconButton-label {
  color: #fcdb4c;
}

#review-conatiner {
  padding-left: 0.25rem;
}

.rating-block-container {
  min-height: 1rem;
}

.description-block-conatiner {
  min-height: 2.5rem;
}
@media only screen and (max-width: 950px) {
  .makeStyles-root-1 {
    padding: 0.5rem !important;
  }
  .jss1 {
    padding: 0.5rem !important;
  }

  .MuiTypography-h4 {
    font-size: 0.75rem !important;
  }

  .MuiTypography-h5 {
    font-size: 1rem !important;
  }

  .MuiTypography-h6 {
    font-size: 0.75rem !important;
  }

  body {
    font-size: 0.75rem !important;
  }
}

@media only screen and (max-width: 600px) {
  .makeStyles-root-1 {
    padding: 0.5rem !important;
  }
  .jss1 {
    padding: 0.5rem !important;
  }
  .MuiTypography-h4 {
    font-size: 0.75rem !important;
  }

  .MuiTypography-h5 {
    font-size: 1rem !important;
  }
  .MuiTypography-h6 {
    font-size: 0.75rem !important;
  }

  body {
    font-size: 0.75rem !important;
  }
}

.MuiCardContent-root {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
